body,
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background: rgb(30,30,30);
}

h1 {
  padding-top: 1%;
  padding-left: 3%;
  color: #d1e0e0;
  font-size: 32px;
  font-family: 'Niramit', sans-serif;
  font-weight: 300;
}
