body {
  min-height: 100vh;
  background: #3e4c60;
  font-family: 'Verdana', monospace, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1 {
    display: inline-block;
    position: relative;
    margin: 0;
    text-shadow: 1px 1px #ccd8ea;
    font-weight: 200;
    font-size: 23px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    color: gainsboro;
}


